p{ color:#000080; font-family: tahoma; font size:5cm; font-weight:bolder}
h1{font-family:times new roman; font-size:30; color:white;}
h2{font-family:times new roman; font-size:30; color:white;}
h3{font-family:times new roman; font-size:30; color:white;}
h4{font-family:times new roman; font-size:30; color:white;}
h5{font-family:times new roman; font-size:20; color:white;}
h6{font-family:times new roman; font-size:30; color:white;}



